@font-face {
  font-family: 'iCielKoni';
  src: url('./assets/fonts/iCielKoni.otf') format('opentype');
}
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat.ttf') format('truetype');
}

.body {
  font-family: Montserrat;
}
html,
body,
#root {
  margin: 0;
  padding: 0;
}

@media (max-width: 1519px) {
  body {
    min-width: 1519px;
    width: 100%;
  }
}

@media (min-width: 1520px) {
  body {
    width: 100%;
  }
}
